section{
    padding: 2rem 9%;
}

.companies-intro{
    display: flex;
    justify-content: center;
    align-items: center;
}

.companies-intro__text{
    font-size: 1.2rem;
    line-height: 2rem;
}

.companies-people{
    display: flex;
    justify-content: center;
    align-items: center;
}

.companies-people-img img{
    width: 700px;
}

.companies-people__item i{
    padding-right: 10px;
}

.companies-enterprise__head{
    text-align: center;
    margin-bottom: 5rem;
}

.companies-enterprise-list{
    width: 80%;
    margin: auto;
}

.fa-solid.fa-arrows-spin{
    padding-right: 10px;
}