.b {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  background: url("../images/line.png");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: var(--dark-blue); */
}

.b-left {
  flex-basis: 50%;

  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.b-left--upper h2 {
  font-size: 4rem;
  font-weight: 900;
  color: var(--violet);
}

.b-left--lower {
  display: flex;
}

.b-left--lower {
  display: flex;
  gap: 10px;
}

.b-left--lower h4 {
  color: black;
  font-size: 1.04rem;
  color: var(--violet-dark);
}

.b-right {
  flex-basis: 50%;
}
.b-right--img {
  width: 100%;
  height: 90%;
}

.lower-left--text,
.lower-right--text {
  font-size: 14px;
}
