.footer-section{
    background-color: var(--violet-dark);
}

.footer{
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
    padding: 2rem;
}

.footer .first ul{
    list-style: none;
}

.footer .first ul li{
    display: flex;
    flex-direction: column;
}

.logo{
    font-size: 1.4rem;
    font-weight: bold;
}

h4{
    font-weight: bold;
    margin-bottom: 1rem;
    color: white;
}

li a{
    margin-bottom: 5px;
    opacity: .8;
    color: white;
}