.started-ready__content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.started-ready__text h3{
    font-size: 3.4rem;
    font-weight: 900;
    margin-bottom: 20px;
}

.started-ready__text p{
    line-height: 1.4rem;
    width: 60%;
}

.started-img img{
    position: relative;
    animation: rocket 2s ease-in-out infinite;
}

@keyframes rocket {
    0% {
      top: 0;
    }
    50% {
      top: -50px;
    }
    100% {
      top: 0;
    }
  }