.scale_container{
    background-blend-mode: darken;

    padding-top: 10rem;
    /* background-image: url("../../src/images/abstract_bg.jpg"); */
    background-image: url("../../src/images/map.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    background-color: rgba(0,0,0,.6);
    height: 70vh;
    background-attachment: fixed;
    /* transform-origin: 0;  */
}

.scale_container h4, .scale_container h1, .scale_container p{
    color: white;
}

.scale_container__item h5{
    padding-bottom: 10px;
    font-size: 12rem !important;
}

.scale_container__item h5, .scale_container__item p{
    color: white !important;
    font-size: 1.020rem !important;
}


.reason-content{
    margin-top: 4rem;
    display: flex;
    /* background: orange; */
    padding: 1rem;
}

.content-item{
    margin-bottom: 20px;
    position: relative;
}

.content-item:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: -1px; /* adjust as needed */
    border-right: 1px solid #ccc; /* adjust color and thickness as needed */
  }

  .content-item:last-child:after {
    border-right: none;
  }