.platform_container {
  margin-top: 10rem;
}

.platform_container h4 {
  color: var(--violet-dark);
  margin-bottom: 2rem;
}

.platform_container h1 {
  font-size: 3.4rem;
  margin-bottom: 2rem;
  /* font-weight: 800; */
  width: 50%;
}

.platform-content {
  display: flex;
  gap: 3rem;
  line-height: 1.8rem;
  margin-bottom: 5rem;
}

.platform-content .content-left,
.platform-content .content-right {
  flex: 1;
}

span {
  color: var(--violet-dark);
}

.platform-img {
  width: 720px;
  margin: auto;
  position: relative;
}

.platform-img img {
  width: 100%;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
}
