.reason_container {
  margin-top: 10rem;
}

.reason_container h4 {
  color: blue;
  margin-bottom: 2rem;
}

.reason_container h1 {
  font-size: 3.4rem;
  /* font-weight: 800; */
  margin-bottom: 2rem;
  width: 70%;
}

.reason-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-gap: 2rem;
}

.reason-content .content-item {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.reason-content .content-item h5 {
  font-size: 1.2rem;
  color: var(--violet-dark);
}

.reason-content .content-item p {
  font-size: 15px;
  line-height: 1.5rem;
  width: 80%;
}
